<launch>
    <arg name="img_flip" default="False"/>
    <include file="$(find yahboomcar_visual)/launch/jetson_csi_cam.launch"/>
    <node name="img_transform" pkg="yahboomcar_visual" type="pub_image.py" output="screen">
        <param name="img_flip" type="bool" value="$(arg img_flip)"/>
        <remap from="/csi_cam_0/image_raw" to="/csi_cam_0/image_raw"/>
    </node>
</launch>
